# Binary
cs
*.exe

# Build
/bin/
/dist/
.env

# Dependencies
/vendor/

# Test
*.test
*.out
cover.out
coverage.html

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# DJ-V
examples/dj-v/sources/audio/*
examples/dj-v/artifact.json
